h5.fw-bold {
    font-size: 1.2rem;
    color: #333;
}

.participant-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
    height: 100vh;
    overflow: hidden;
}

.header-section {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #0476D9;
    padding: 1.5rem;
    height: calc(120px - 20px);
    box-sizing: border-box;
}

.profile-page .btn-link {
    text-decoration: none;
    font-size: 1.3rem;
}

.content-section {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 2rem;
    max-height: calc(100vh - calc(120px - 20px) - 50px);
}

.nav-tabs {
    gap: 1rem;
    border-bottom: 1px solid #dee2e6;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none; /* Firefox */
    overflow-y: hidden !important;
}

    .nav-tabs .nav-link {
        font-size: 0.95rem;
        padding: 6px 12px;
        color: #666;
        border: none;
        border-bottom: 2px solid transparent;
        background-color: transparent;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
    }

        .nav-tabs .nav-link.active {
            border-bottom: 3px solid #FFC700 !important;
            color: #212529;
            background-color: #fff;
        }

input.form-control,
select.form-select {
    font-size: 0.9rem;
    border-radius: 8px;
    padding: 6px 12px;
}

@media (max-width: 768px) {
    .nav-tabs {
        flex-direction: column;
        align-items: center;
    }

    .table th, .table td {
        font-size: 0.85rem;
        padding: 8px;
    }

    input.form-control,
    select.form-select {
        font-size: 0.85rem;
    }
}


body {
    background: linear-gradient(to bottom, #d3d3d3, #fefefe);
}

.d-none {
    display: none !important;
}

.scrollable-x {
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 1px;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #C4C4C4 #E0E0E0;
}

    .scrollable-x::-webkit-scrollbar {
        height: 12px;
        background: #E0E0E0; /* Track color */
        border-radius: 6px;
    }

    .scrollable-x::-webkit-scrollbar-thumb {
        background-color: #C4C4C4;
        border-radius: 6px;
    }

    .scrollable-x::-webkit-scrollbar-track {
        background-color: #E0E0E0;
    }
    .scrollable-x::-webkit-scrollbar-thumb:hover {
        background: #888;
    }

/* Untuk Walas, Mentor, Teacher */
.table.pembimbing-table th:nth-child(1), .table.pembimbing-table td:nth-child(1) {
    width: 10%;
}

.table.pembimbing-table th:nth-child(2), .table.pembimbing-table td:nth-child(2) {
    width: 15%;
}

.table.pembimbing-table th:nth-child(3), .table.pembimbing-table td:nth-child(3) {
    width: 35%;
}
.table.pembimbing-table th:nth-child(4), .table.pembimbing-table td:nth-child(4) {
    width: 40%;
}


/* Untuk Student */
.table.pembimbing-student th:nth-child(1), .table.pembimbing-student td:nth-child(1) {
    width: 15%;
}

.table.pembimbing-student th:nth-child(2), .table.pembimbing-student td:nth-child(2) {
    width: 40%;
}

.table.pembimbing-student th:nth-child(3), .table.pembimbing-student td:nth-child(3) {
    width: 45%;
}


/* Untuk Student, Teacher */
.table.pkl-table th:nth-child(1), .table.pkl-table td:nth-child(1) {
    width: 8%;
}

.table.pkl-table th:nth-child(2), .table.pkl-table td:nth-child(2) {
    width: 10%;
}

.table.pkl-table th:nth-child(3), .table.pkl-table td:nth-child(3) {
    width: 23%;
}

.table.pkl-table th:nth-child(4), .table.pkl-table td:nth-child(4) {
    width: 15%;
}

.table.pkl-table th:nth-child(5), .table.pkl-table td:nth-child(5) {
    width: 23%;
}

.table.pkl-table th:nth-child(6), .table.pkl-table td:nth-child(6) {
    width: 21%;
}

/* Untuk Mentor, Walas*/
.table.pkl-mentor th:nth-child(1), .table.pkl-mentor td:nth-child(1) {
    width: 5%;
}

.table.pkl-mentor th:nth-child(2), .table.pkl-mentor td:nth-child(2) {
    width: 9%;
}

.table.pkl-mentor th:nth-child(3), .table.pkl-mentor td:nth-child(3) {
    width: 21%;
}

.table.pkl-mentor th:nth-child(4), .table.pkl-mentor td:nth-child(4) {
    width: 11%;
}

.table.pkl-mentor th:nth-child(5), .table.pkl-mentor td:nth-child(5) {
    width: 20%;
}

.table.pkl-mentor th:nth-child(6), .table.pkl-mentor td:nth-child(6) {
    width: 19%;
}

.table.pkl-mentor th:nth-child(7), .table.pkl-mentor td:nth-child(7) {
    width: 15%;
}

/* Untuk Walas, Mentor, Teacher */
.table.tkj-table th:nth-child(1), .table.tkj-table td:nth-child(1) {
    width: 12%;
}

.table.tkj-table th:nth-child(2), .table.tkj-table td:nth-child(2) {
    width: 14%;
}

.table.tkj-table th:nth-child(3), .table.tkj-table td:nth-child(3) {
    width: 34%;
}

.table.tkj-table th:nth-child(4), .table.tkj-table td:nth-child(4) {
    width: 26%;
}

.table.tkj-table th:nth-child(5), .table.tkj-table td:nth-child(5) {
    width: 14%;
}

/* Untuk Admin, Kajur */
.table.pembimbing-admin th:nth-child(1), .table.pembimbing-admin td:nth-child(1) {
    width: 8%;
}

.table.pembimbing-admin th:nth-child(2), .table.pembimbing-admin td:nth-child(2) {
    width: 12%;
}

.table.pembimbing-admin th:nth-child(3), .table.pembimbing-admin td:nth-child(3) {
    width: 30%;
}

.table.pembimbing-admin th:nth-child(4), .table.pembimbing-admin td:nth-child(4) {
    width: 30%;
}

.table.pembimbing-admin th:nth-child(5), .table.pembimbing-admin td:nth-child(5) {
    width: 20%;
}

/* Untuk Admin, Kajur */
.table.pkl-admin th:nth-child(1), .table.pkl-admin td:nth-child(1) {
    width: 5%;
}

.table.pkl-admin th:nth-child(2), .table.pkl-admin td:nth-child(2) {
    width: 5%;
}

.table.pkl-admin th:nth-child(3), .table.pkl-admin td:nth-child(3) {
    width: 8%;
}

.table.pkl-admin th:nth-child(4), .table.pkl-admin td:nth-child(4) {
    width: 20%;
}

.table.pkl-admin th:nth-child(5), .table.pkl-admin td:nth-child(5) {
    width: 12%;
}

.table.pkl-admin th:nth-child(6), .table.pkl-admin td:nth-child(6) {
    width: 20%;
}

.table.pkl-admin th:nth-child(7), .table.pkl-admin td:nth-child(7) {
    width: 17%;
}

.table.pkl-admin th:nth-child(8), .table.pkl-admin td:nth-child(8) {
    width: 13%;
}

/* Untuk Admin, Kajur */
.table.tkj-admin th:nth-child(1), .table.tkj-admin td:nth-child(1) {
    width: 5%;
}

.table.tkj-admin th:nth-child(2), .table.tkj-admin td:nth-child(2) { 
    width: 10%;
}

.table.tkj-admin th:nth-child(3), .table.tkj-admin td:nth-child(3) { 
    width: 13%;
}

.table.tkj-admin th:nth-child(4), .table.tkj-admin td:nth-child(4) { 
    width: 36%;
}

.table.tkj-admin th:nth-child(5), .table.tkj-admin td:nth-child(5) { 
    width: 24%;
}

.table.tkj-admin th:nth-child(6), .table.tkj-admin td:nth-child(5) {
    width: 12%;
}

/* Untuk Admin, Kajur */
.table.class th:nth-child(1), .table.class td:nth-child(1) {
    width: 6%;
}

.table.class th:nth-child(2), .table.class td:nth-child(2) {
    width: 12%;
}

.table.class th:nth-child(3), .table.class td:nth-child(3) {
    width: 10%;
}

.table.class th:nth-child(4), .table.class td:nth-child(4) {
    width: 20%;
}

.table.class th:nth-child(5), .table.class td:nth-child(5) {
    width: 7%;
}

.table.class th:nth-child(6), .table.class td:nth-child(6) {
    width: 30%;
}

.table.class th:nth-child(7), .table.class td:nth-child(7) {
    width: 15%;
}



.table th, .table td {
    word-break: break-word;
    white-space: normal;
}

.scrollable-x > .table {
    min-width: 1400px; /* opsional, agar tabel tidak terlalu kecil di layar kecil */
    max-width: 1900px; /* ganti sesuai kebutuhan */
    width: 100%;
    table-layout: fixed;
    margin: 0 auto;
}

    .scrollable-x > .table.pembimbing-table {
        min-width: 650px;
        max-width: 1900px; /* atau sesuai kebutuhan */
        width: 100%;
        table-layout: fixed;
        margin: 0 auto;
    }

    .scrollable-x > .table.pembimbing-student {
        min-width: 450px;
        max-width: 1900px; /* atau sesuai kebutuhan */
        width: 100%;
        table-layout: fixed;
        margin: 0 auto;
    }

    .scrollable-x > .table.pkl-table {
        min-width: 900px;
        max-width: 1900px; /* atau sesuai kebutuhan */
        width: 100%;
        table-layout: fixed;
        margin: 0 auto;
    }

    .scrollable-x > .table.tkj-table {
        min-width: 650px;
        max-width: 1900px; /* atau sesuai kebutuhan */
        width: 100%;
        table-layout: fixed;
        margin: 0 auto;
    }

    .scrollable-x > .table.pembimbing-admin {
        min-width: 700px;
        max-width: 1900px; /* atau sesuai kebutuhan */
        width: 100%;
        table-layout: fixed;
        margin: 0 auto;
    }

    .scrollable-x > .table.pembimbing-admin {
        min-width: 950px;
        max-width: 1900px; /* atau sesuai kebutuhan */
        width: 100%;
        table-layout: fixed;
        margin: 0 auto;
    }

    .scrollable-x > .table.tkj-admin {
        min-width: 750px;
        max-width: 1900px; /* atau sesuai kebutuhan */
        width: 100%;
        table-layout: fixed;
        margin: 0 auto;
    }

    .scrollable-x > .table.class {
        min-width: 900px;
        max-width: 1900px; /* atau sesuai kebutuhan */
        width: 100%;
        table-layout: fixed;
        margin: 0 auto;
    }

    .scrollable-x > .table.pkl-mentor {
        min-width: 900px;
        max-width: 1900px; /* atau sesuai kebutuhan */
        width: 100%;
        table-layout: fixed;
        margin: 0 auto;
    }


.position-relative {
    position: relative;
}

.photo-wrapper {
    cursor: pointer;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    flex-shrink: 0;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part-sort-arrow {
    font-size: 0.6em;
    vertical-align: middle;
    margin-left: 4px;
}

.checkmark-animate {
    display: inline-block;
    animation: pop-check 0.5s cubic-bezier(.17,.67,.83,.67);
}

@keyframes pop-check {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.participant-modal-grid {
    display: grid;
    grid-template-columns: 110px 18px 1fr;
    row-gap: 5px;
    font-size: 1rem;
    color: black;
}

.participant-modal-label {
    font-weight: 400;
}

.participant-modal-colon {
    text-align: center;
}

.participant-modal-value {
    font-weight: 500;
    word-break: break-word;
}

.profile-photo-container {
    width: 120px;
    height: 120px;
    position: relative;
    margin-bottom: 1rem;
}

.responsive-btn-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: stretch;
}

.btn-main-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-grow: 1;
}

.btn-side-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

@media (max-width: 576px) {
    .responsive-btn-group {
        flex-direction: row;
        justify-content: flex-start;
    }

    .btn-main-group {
        flex: 1 1 100%;
    }

    .btn-side-group {
        display: none !important;
    }

    .d-sm-inline {
        display: none !important;
    }

    .d-sm-none {
        display: block !important;
    }

    .locklocation-toolbar {
        flex: 0 0 auto;
    }
    .btn-text-sm-hide {
        display: none !important;
    }
}

@media (min-width: 577px) {
    .d-sm-none {
        display: none !important;
    }

    .d-sm-inline {
        display: inline !important;
    }

    .locklocation-toolbar {
        margin-left: auto;
    }
}

.vertical-switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 68px;
}

    .vertical-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.vertical-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 36px;
    height: 68px;
    background-color: #ccc;
    border-radius: 6px; /* kotak, bukan bulat */
    transition: background 0.3s;
}

    .vertical-slider:before {
        position: absolute;
        content: "";
        left: 5.5px;
        width: 25px;
        height: 22px;
        background-color: white;
        border-radius: 4px; /* kotak, bukan bulat */
        bottom: 4px;
        transition: bottom 0.3s;
        box-shadow: 0 1px 4px rgba(0,0,0,0.08);
    }

.vertical-switch input:checked + .vertical-slider {
    background-color: darkorange;
}

    .vertical-switch input:checked + .vertical-slider:before {
        bottom: 41px;
    }

.horizontal-switch {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 33px;
}

    .horizontal-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.horizontal-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 4px;
}

.horizontal-switch input:checked + .horizontal-slider {
    background-color: orangered;
}

.slider-knob {
    position: absolute;
    left: 7px;
    bottom: 5px;
    width: 35px;
    height: 23px;
    background: white;
    border-radius: 4px;
    transition: .4s;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-switch input:checked + .horizontal-slider .slider-knob {
    transform: translateX(57px);
}

.slider-text {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: black;
    pointer-events: none;
    user-select: none;
}