USE [PKL_APP]
GO
/****** Object:  Table [dbo].[ChatContacts]    Script Date: 11/1/2025 1:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatContacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_chat] [nvarchar](50) NOT NULL,
	[chat_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ChatContacts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatServices]    Script Date: 11/1/2025 1:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatServices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_name] [varchar](50) NOT NULL,
	[id_template] [int] NULL,
 CONSTRAINT [PK_ChatServices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DefaultChats]    Script Date: 11/1/2025 1:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefaultChats](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_service] [int] NOT NULL,
	[id_contact] [int] NOT NULL,
 CONSTRAINT [PK_DefaultChats] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentValidations]    Script Date: 11/1/2025 1:52:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentValidations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nis] [nvarchar](50) NULL,
	[isPKL] [bit] NOT NULL,
	[isLock] [bit] NOT NULL,
	[isPresence] [bit] NOT NULL,
	[isDailyReport] [bit] NOT NULL,
	[isReport] [bit] NOT NULL,
	[update_daily] [date] NULL,
	[update_weekly] [date] NULL,
 CONSTRAINT [PK_StudentValidations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChatContacts] ON 

INSERT [dbo].[ChatContacts] ([id], [id_chat], [chat_name]) VALUES (1, N'120363401004071210@g.us', N'2025-2026/PKL 2 | 12 TKJ 1')
INSERT [dbo].[ChatContacts] ([id], [id_chat], [chat_name]) VALUES (2, N'120363419443691838@g.us', N'2025-2026/PKL 2 | 12 TKJ TLK')
INSERT [dbo].[ChatContacts] ([id], [id_chat], [chat_name]) VALUES (3, N'120363420415439304@g.us', N'teknisi tkj 2025-2026/sem1')
SET IDENTITY_INSERT [dbo].[ChatContacts] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatServices] ON 

INSERT [dbo].[ChatServices] ([id], [service_name], [id_template]) VALUES (1, N'Presence', 6)
INSERT [dbo].[ChatServices] ([id], [service_name], [id_template]) VALUES (2, N'Intern Report', 3)
INSERT [dbo].[ChatServices] ([id], [service_name], [id_template]) VALUES (3, N'Training UKK', 4)
SET IDENTITY_INSERT [dbo].[ChatServices] OFF
GO
SET IDENTITY_INSERT [dbo].[DefaultChats] ON 

INSERT [dbo].[DefaultChats] ([id], [id_service], [id_contact]) VALUES (31, 3, 5)
SET IDENTITY_INSERT [dbo].[DefaultChats] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentValidations] ON 

INSERT [dbo].[StudentValidations] ([id], [nis], [isPKL], [isLock], [isPresence], [isDailyReport], [isReport], [update_daily], [update_weekly]) VALUES (1, N'2311688', 1, 1, 0, 0, 0, CAST(N'2025-11-01' AS Date), CAST(N'2025-11-01' AS Date))
INSERT [dbo].[StudentValidations] ([id], [nis], [isPKL], [isLock], [isPresence], [isDailyReport], [isReport], [update_daily], [update_weekly]) VALUES (2, N'2311689', 1, 1, 0, 0, 0, CAST(N'2025-11-01' AS Date), CAST(N'2025-11-01' AS Date))
INSERT [dbo].[StudentValidations] ([id], [nis], [isPKL], [isLock], [isPresence], [isDailyReport], [isReport], [update_daily], [update_weekly]) VALUES (3, N'2311691', 1, 1, 0, 0, 0, CAST(N'2025-11-01' AS Date), CAST(N'2025-11-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[StudentValidations] OFF
GO
ALTER TABLE [dbo].[DefaultChats]  WITH CHECK ADD  CONSTRAINT [FK_DefaultChats_ChatContacts] FOREIGN KEY([id_contact])
REFERENCES [dbo].[ChatContacts] ([id])
GO
ALTER TABLE [dbo].[DefaultChats] CHECK CONSTRAINT [FK_DefaultChats_ChatContacts]
GO
ALTER TABLE [dbo].[DefaultChats]  WITH CHECK ADD  CONSTRAINT [FK_DefaultChats_ChatServices] FOREIGN KEY([id_service])
REFERENCES [dbo].[ChatServices] ([id])
GO
ALTER TABLE [dbo].[DefaultChats] CHECK CONSTRAINT [FK_DefaultChats_ChatServices]
GO
